<html>
<body>
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if user.is_authenticated %}
<form action="{% url 'polls:vote' question.id %}" method="post">
{% else %}
<form>
{% endif %}
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<br/>
{% if user.is_authenticated %}
    <input type="submit" value="Vote">
{% else %}
    Please <a href="{% url 'login' %}?next={{request.path}}" >login</a> to vote.
{% endif %}

</form>

</body>
</html>