<html>
<body>
<h1>Hot Topics</h1>

{% if user.is_authenticated %}
Welcome back,
    {% if user.first_name != '' %}
        {{ user.first_name }}
    {% else %}
        {{ user.username.title }}
    {% endif %}
{% else %}
    Please <a href="{% url 'login' %}">login</a> to vote.
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a id="q-{{question.id}}" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<a href="{% url 'login' %}" >logout</a>

</body>
</html>